* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: #FAE1DE;
    color: #E81624;
    font-family: arial;
    font-style:italic;
    font-size: 70px;
    font-weight: bold;
    padding: 50px;
    margin: 0 auto;
}

.aside {
    background-color:#E81624;
    font-family: calibri;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 50px;
    width: 260px;
    height:1000px;
    padding: 20px;
    margin: 10px;
    float: left;
}
.aside a{text-decoration: none;
    color:white;}
.li{list-style-type:disc;}
.section {
    width: 700px;
    height:1000px;
    background-color: white;
    color: white;
    font-size: 40px;
    padding: 100px;
    float: left;
}

.footer {
    background-color: #FAE1DE;
    color:#E81624;
    font-family: calibri;
    font-size: 18px;
    letter-spacing: 2px;
    height:120px;
    padding:30px;
    clear: both;
}