.container{
margin-top: 100px;
text-align: center;
height: 200px;
border-bottom:10px;
border-right: 0px;
border-left: 0px;
border-top: 0px;
border-color:white; }

.logo{font-family: proxima-nova,sans-serif;
font-size: 50px;
font-weight: bold;
text-align: center;
letter-spacing: 22.4px}

.topnav{
	position: relative;
	margin: 20px;
	letter-spacing: 1px;
}
.topnav ul{
	margin: 0;
	padding: 0;
}

.topnav li{
margin: 0 5px 10px 0;
padding: 0;
list-style: none;
display: inline-block;
text-align: center;
}

.topnav a{
	padding: 10px;
	text-decoration: none;
	color: #999;
	line-height: 100%;
	font-family: Optima Thin;
	font-size: 15px;
	text-align: center;
}

.topnav a:hover{
	color: #000;
}

.topnav .current a{
	color: #fff;
	border-radius: 5px; 
}

.row {background-color: #EFF9F9;
	float:left;
	margin:0px auto;
	position: center;
	}

.row h6{font-family:Times New Roman;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	font-weight: normal;}


[class^="col-"] {
	box-sizing: border-box;
	border: 250px;
	padding: 10px;
	margin-top: 100px
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:100px; 
	background-color: white;
	border-width: 1px;
	border-color: #BCBCC3;
	border-left-color: white;
	border-right-color: white;
	border-style: solid;
	text-align: center;
	font-size: 10px;
	float:left;
}
[class^="col-"] h1{
	font-family:sans-serif;
	font-size: 15px;
	font-weight: bold;}

@media screen and (max-width: 600px){
	.topnav{
		position: relative;
		min-height: 60px;
	}
	.topnav ul{
		width: 100%;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #ddd;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	}
	.topnav li{
		display: none;
		margin: 0;
	}
	.topnav .current{
		display: block;
	}
	.topnav a{
		display: block;
		padding: 5px 5px 5px 20px;
		text-align: left;
	}
	.topnav ul:hover li{
		display: block;
		margin: 3px;
	}

}
